@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500&display=swap');

/* :root {


    --firstGreen: #2B7804;
    --SecondGreen: #4BD946;
    --TernaryGreen: #F9F8F3;
  } */
* body {
  font-family: Poppins, sans-serif;
}


.carousel-image{
  height:80%;
  width: 80%;
}
.container {
  width: calc(100% - 48px) !important;
  max-width: 1200px !important;
}

.about-section {
  background-color: #409C3E;
  margin-top: 104px;
  padding-block: 96px;
}

.about_highlights {
  display: grid;
  gap: 24px;
  max-width: 480px;
  margin-inline: auto;
}

@media screen and (min-width: 576px) {
  .about_highlights {
    grid: repeat(2, 1fr) / repeat(2, 1fr);
    max-width: 560px;
    max-height: 520px;
    margin-inline: auto;
  }

  .highlight-card:nth-of-type(3) {
    grid-area: 1/2/3/3;
    align-self: center;
  }
}

.hero-h1,
.about-h1 {
  max-width: 490px;
  margin-top: 24px;

  font-family: 'Jost';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 44px;
  /* or 112% */

  letter-spacing: -0.01em;
}

.hero-img {
  display: flex;
  justify-content: center;
}

@media (min-width: 992px) {
  .hero-h1 {
    margin-top: 72px;
    font-size: 50px;
    line-height: 56px;
  }
}

.hero-p {
  max-width: 440px;
  margin-block: 30px 40px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

.about-h1 {
  margin-block: 20px 40px;
}

.about-p {
  line-height: 1.6;
  letter-spacing: 0;
  text-align: justify;
}

.navlogo{
  background-image: url("./Assets/Images/nav-logo.svg");
  background-size: cover;
}

.farm_tools{
  background-image: url("./Assets/Images/farmtool.jpg");
  background-size: cover;
}

.farm_machinery{
  background-image: url("./Assets/Images/tractor-image.jpg");
  background-size: cover;
}

.accessories{
  background-image: url("./Assets/Images/accessories.jpg");
  background-size: cover;
}
body .btn {
  box-sizing: border-box;
  height: 50px;
  padding: 16px 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50px;
}

body .btn-white,
body .btn-white:hover,
body .btn-white:active {
  border: 1px solid white;
  background: white;
  color: #409C3E;
}

body .btn-primary,
body .btn-primary:hover,
body .btn-primary:active {
  border: 1px solid #409C3E;
  background: #409C3E;
  color: white;
}

.about-content {
  align-items: center;
}

.about-btn {
  margin-top: 40px;
  width: 100%;
  margin-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .about-btn {
    width: max-content;
  }
  .card_image{
    width:auto;
    height: 350px;
  }
  
}
.sponsor_page{
  background-image: url("./Assets/Images/sponsors.png") ;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner {
  padding-block: 96px;
  background-image: url("./Assets/Images/Rectangle10.png");
  background-size: cover;
}

.not_found {
  background-image: url("./Assets/Images/notfound.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner h1 {
  max-width: 500px;
  margin-inline: auto;
  margin-bottom: 40px;
  text-align: center;
  color: white;
  font-size: 32px;
  font-weight: 500;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 1.35;
  ;
}

.banner .buttons {
  display: grid;
  grid: auto-flow 1fr / 1fr;
  gap: 16px;
  justify-content: center;
}

@media (min-width: 576px) {
  .banner .buttons {
    display: grid;
    grid: 1fr / repeat(2, max-content);
  }
}

@layer components {
  .sidebar{
    transition:all .4s ease-in-out;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;