@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap");

:root {
  
  
    --firstGreen: #2B7804;
    --SecondGreen: #4BD946;
    --TernaryGreen: #F9F8F3;
  }
  


@tailwind base;
@tailwind components;
@tailwind utilities;